.Horario{
    height: 300px;
    background-image: url(../Pictures/yuheng-chen-YuKwHTNVAiI-unsplash_edited.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: cover;
}

.ctnd-horario, .horario{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.ctnd-tituloHorario{
    height: 30%;
}

.horario{
    height: 40%;
    width: 40%;
    border: 2px solid rgb(243, 243, 243);
    color: rgb(243, 243, 243);
}

.ctnd-tituloHorario>h2{
    color: rgb(243, 243, 243);
}

.horario>h4{
    font-size: 1.8em;
    margin: 8px auto;
}

.horario>p{
    font-size: 1.4em;
    margin: 8px auto;
}

@media screen and (max-width: 499px){
    .horario{
        height: 40%;
        width: 80%;
    }
    .ctnd-tituloHorario>h2{
       font-size: 2.2em;
       text-align: center;
    }
    .horario>h4{
        font-size: 1.8em;
        margin: 8px auto;
    }

    .horario>p{
        font-size: 1.4em;
        margin: 8px auto;
    }
}

@media screen and (min-width: 500px) and (max-width: 699px){
    .horario{
        height: 40%;
        width: 60%;
    }
    .ctnd-tituloHorario>h2{
       font-size: 2.4em;
       text-align: center;
    }
    .horario>h4{
        font-size: 1.8em;
        margin: 8px auto;
    }

    .horario>p{
        font-size: 1.4em;
        margin: 8px auto;
    }
}

@media screen and (min-width: 700px) and (max-width: 900px){
    .horario{
        height: 40%;
        width: 50%;
    }
    .ctnd-tituloHorario>h2{
       font-size: 2.8em;
       text-align: center;
    }
    .horario>h4{
        font-size: 1.8em;
        margin: 8px auto;
    }

    .horario>p{
        font-size: 1.4em;
        margin: 8px auto;
    }
}